/*

   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/

   Base:
     br   = border-radius

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale

   Literal values:
     -100 = 100%
     -pill = 9999px

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

  .br2 {        border-radius: .25rem; }

@media (--breakpoint-not-small) {
  .br2-ns {     border-radius: .25rem; }
}

@media (--breakpoint-medium) {
  .br2-m {     border-radius: .25rem; }
}

@media (--breakpoint-large) {
  .br2-l {     border-radius: .25rem; }
}
