/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/

:root {
  --dark-gray:#333;
  --near-white: #f4f4f4;
  --white: #fff;
  --transparent:transparent;
  --dark-red:  #e7040f;
  --red:  #ff4136;
  --gold:  #ffb700;
  --dark-green:  #137752;
  --green:  #19a974;
  --navy:  #001b44;
  --blue:  #357edd;
  --lightest-blue:  #cdecff;
  --washed-red:  #ffdfdf;
}
