/*

   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Max Width Scale */

.mw8  {  max-width: 64rem; }

@media (--breakpoint-not-small) {
  .mw8-ns  {  max-width: 64rem; }
}

@media (--breakpoint-medium) {
  .mw8-m  {  max-width: 64rem; }
}

@media (--breakpoint-large) {
  .mw8-l  {  max-width: 64rem; }
}
