/*

    OVERFLOW

    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

 */

.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }

@media (--breakpoint-not-small) {
  .overflow-hidden-ns { overflow: hidden; }
  .overflow-auto-ns { overflow: auto; }
}

@media (--breakpoint-medium) {
  .overflow-hidden-m { overflow: hidden; }
  .overflow-auto-m { overflow: auto; }
}

@media (--breakpoint-large) {
  .overflow-hidden-l { overflow: hidden; }
  .overflow-auto-l { overflow: auto; }
}
