/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */

.near-white {    color: var(--near-white); }
.white {         color: var(--white); }

.gold { color: var(--gold); }
.dark-green { color: var(--dark-green); }
.green { color: var(--green); }
.navy { color: var(--navy); }
.blue { color: var(--blue); }

.bg-navy { background-color: var(--navy); }
.bg-lightest-blue { background-color: var(--lightest-blue); }
.bg-washed-red { background-color: var(--washed-red); }
